@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
	--font-primary: "Amiri", serif;
	--font-secondary: "Scheherazade New", serif;
	--font-tertiary: "Ubuntu", sans-serif;
}

.ProseMirror p.is-editor-empty:first-child::before {
	content: attr(data-placeholder);
	color: #64748b; /* slate-500 */
	float: left;
	height: 0;
	pointer-events: none;
}
